.slide-enter {
  left: 100%;
}

.slide-enter.slide-enter-active {
  left: 0;
  transition: left 500ms ease-in;
}

.slide-exit {
  left: 0;
}

.slide-exit.slide-exit-active {
  left: -100%;
  transition: left 500ms ease-in;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
